.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 800px;
  color: #f9f9f4;
  background-image: url(../../assets/projects.jpg);

  &__title {
    font-weight: 100;
    font-size: 2.8rem;
    margin-top: 4%;
    letter-spacing: 0.5rem;
  }

  &__alan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__bir,
    &__iki,
    &__uc {
      backdrop-filter: invert(75%);
      border-radius: 24px;
      width: 100%;
      margin: 10px;
      padding: 5px;
      border: 1px solid transparent;

      &__desc {
        h3 {
          font-style: italic;
          font-size: 1.6rem;
          border: 1px solid transparent;
          border-radius: 100px;
          max-width: 1500px;
          position: relative;
          margin: 10px 10px 10px 10px;
          color: #f9f9f4;
        }
        text-align: center;
        margin-bottom: 30px;
        font-family: Quicksand-Light;
        color: #000;
      }

      &__img {
        text-align: center;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      img {
        width: 50px;
        height: auto;
      }
    }

    &__iki img {
      width: 110px;
    }

    &__uc img {
      width: 90px;
    }
  }
}
