body.dark-mode {
  background-color: black;
  color: #ffffff;

  button {
    color: #fff;
    background-color: transparent;
    border-radius: 24px;
  }
  .App-header {
    background-color: transparent;
  }
}

.mode {
  text-align: center;

  button {
    padding: 10px 20px;
    width: 110px;
    height: 62px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #899384;
    border: none;
    border-radius: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
