body {
  transition: background-color 0.3s ease;
  background-color: #fff;
}

body.dark-mode {
  background-color: black;
  color: #ffffff;
  background-image: url(../../assets/gradient-625d94e6.webp);

  button {
    color: #201f1f;
    background-color: #ffffff;
    border-radius: 24px;
  }
  .App-header {
    background-color: #201f1f;
  }
}

.mode {
  text-align: center;

  button {
    padding: 10px 20px;
    width: 110px;
    height: 62px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #899384;
    border: none;
    border-radius: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  body.dark-mode & {
    button {
      padding: 10px 20px;
      width: 110px;
      height: 62px;
      margin-top: 10px;
      cursor: pointer;
      color: #b38a9d;
      border: none;
      border-radius: 24px;
      transition: background-color 0.3s ease, color 0.3s ease;
      background-color: transparent;
    }
  }
}
