.skill {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 630px;
  &__title {
    font-family: SourceSans3-ExtraLightItalic;
    font-size: 3rem;
    padding: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px;

    &__first {
      width: 100%;
      max-width: 400px;

      h3 {
        font-size: 1.2rem;
        font-weight: 400;
        font-style: italic;
      }
      ul {
        display: flex;
        flex-wrap: wrap; // Liste öğelerini yan yana 2 şerli olarak düzenle
        justify-content: space-around; // Liste öğelerini eşit aralıklarla dağıt
        // padding: 0;
        margin-top: 20px;
        li {
          a {
            text-decoration: none;
            color: black;
          }

          list-style: none;
          padding: 10px;
          strong {
            font-weight: 500;
          }

          p {
            border: 1px solid #9b8588;
            height: 2.5px;
            width: 100px;
            border-radius: 12px;
            position: relative; // Mutlaka pozisyon: relative olmalı
          }

          p span {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: calc(80px - 2px); // 80px boyanacak kısım
            background-color: #899384;
            border-radius: 12px;
          }
        }
      }
      &__dot {
        border-left: 2px solid #ccc;
        height: 350px;
      }
    }
    &__second {
      li {
        list-style: none;
        padding: 5px;
      }

      &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (max-width: 767px) {
    display: block;
    &__container {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      padding: 0;
      &__first {
        display: flex;
        flex-direction: column;

        &__dot {
          display: none;
        }
      }
    }
  }
}
