.skill {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 800px;
  background-image: url(../../assets/i.jpg);
  &__title {
    font-size: 4rem;
    font-weight: lighter;
    padding: 24px;
    letter-spacing: 0.5rem;
    text-align: center;
    color: #fff;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__first {
      color: #fff;

      p {
        font-size: 1.4rem;
        font-weight: 100;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          a {
            text-decoration: none;
            color: #fff;
          }
          text-align: center;
          list-style: none;
          padding: 10px;

          p {
            border: 1px solid #4e4e54;
            height: 4.8px;
            width: 110px;
            border-radius: 12px;
            position: relative;
          }

          p span {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: calc(80px - 2px);
            background-color: #ccc;
            border-radius: 12px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    display: block;
    &__container {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      padding: 0;
      &__first {
        display: flex;
        flex-direction: column;

        &__dot {
          display: none;
        }
      }
    }
  }
}
