.home {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 700px;
  color: #4e4e54;

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    &__svg {
      position: relative;
      left: 15%;
      width: 100%;
    }
    &__left {
      display: flex;
      flex-direction: column;
      position: relative;
      right: 35%;
      &__title {
        padding: 10px;
        font-family: Quicksand-Light;
        font-size: 4.3rem;
        margin: 10px;
      }

      &__desc {
        font-style: italic;
        font-size: 1.1em;
        text-align: center;
        margin: 10px 0;
        margin-right: 20%;
      }
      &__buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &__button {
          button {
            font-size: 15px;
            width: 120px;
            border: none;
            background-color: transparent;
            color: #315b00;
            transition: all 2s ease;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
              border-bottom: #315b00 1px solid;
            }
          }
        }
        &__button2 {
          padding: 20px;

          button {
            font-size: 15px;
            width: 150px;
            height: 50px;
            border: 1px solid black;
            background-color: black;
            color: white;
            border-radius: 12px;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 30px;
    position: fixed;
    left: calc(100% - 70px); /* Adjusted for mobile */
    img {
      width: 60px;
      height: 60px;
      transition: transform 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  @media (max-width: 767px) {
    flex-direction: column; /* Adjust layout for mobile */
    min-height: auto; /* Adjust min-height for mobile */

    &__content {
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
      padding: 60px; /* Add padding for better spacing */
      &__svg {
        display: none;
      }
      &__left {
        align-items: center;
        text-align: center; /* Center text */
        position: relative;
        right: 0;
        &__title {
          font-size: 2rem; /* Adjust font size for mobile */
        }

        &__desc {
          font-size: 1em; /* Adjust font size for mobile */
        }

        &__buttons {
          flex-direction: column; /* Stack buttons vertically */
          align-items: center;

          &__button,
          &__button2 {
            margin-bottom: 10px; /* Add spacing between buttons */
          }

          &__button button,
          &__button2 button {
            margin: 10px 0; /* Adjust button margin */
          }
        }
      }
    }

    &__contact {
      left: calc(100% - 150px); /* Adjust positioning for mobile */
      bottom: 100px; /* Ensure it's visible */
    }
  }
}
