.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__content {
    display: flex;
    justify-content: space-between;
    &__left {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__title {
        padding: 10px;
        font-family: Quicksand-Light;
        font-size: 3.5rem;
      }
      &__desc {
        font-style: italic;
        font-size: 1.1em;
        text-align: center;
      }
      &__button {
        display: flex;
        justify-content: flex-start;
        padding: 20px;
        button {
          width: 120px;
          height: 35px;
          border: 1px solid #2a3521;
          border-radius: 24px;
          background-color: transparent;
          color: #2a3521;
          margin-left: 100px;
          cursor: pointer;

          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }

    &__right {
      margin-bottom: 50px;
      width: 45%;
      display: flex;
      justify-content: flex-end; // Sağ tarafa yaslanacak
      align-items: center;
      padding: 20px;

      img {
        border-radius: 24px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        max-width: 100%;
        height: auto;
        max-height: 500px;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
