.home {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 800px;
  color: white;
  background-image: url(../../assets/ü.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    display: flex;
    justify-content: space-around;
    width: 100%;

    &__left {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        padding: 10px;
        font-size: 4.3rem;
        font-weight: 100;
      }

      &__desc {
        font-style: italic;
        font-size: 1.1em;
        text-align: center;
        margin: 10px 0;
        margin-right: 20%;
      }
      &__buttons {
        display: flex;
        align-items: center;
        &__button {
          button {
            font-size: 15px;
            border: none;
            background-color: transparent;
            color: white;
            transition: all 2s ease;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
              border-bottom: #fff 1px solid;
            }
          }
        }
        &__button2 {
          padding: 20px;

          button {
            font-size: 15px;
            width: 150px;
            height: 50px;
            border: 1px solid white;
            border-radius: 12px;
            cursor: pointer;
          }
        }
      }
    }
    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 550px;
        height: 500px;
      }
      @keyframes moveUpDown {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(10px);
        }

        100% {
          transform: translateY(0);
        }
      }

      #home_img {
        animation: moveUpDown 4s ease infinite;
      }
    }
  }
  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 30px;
    position: fixed;
    left: calc(100% - 100px);
    img {
      width: 60px;
      height: 60px;
      transition: transform 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    min-height: auto;

    &__content {
      flex-direction: column;
      align-items: center;
      padding: 60px;
      &__svg {
        display: none;
      }
      &__left {
        align-items: center;
        text-align: center;
        position: relative;
        right: 0;
        &__title {
          font-size: 2rem;
        }

        &__desc {
          font-size: 1em;
        }

        &__buttons {
          flex-direction: column;
          align-items: center;

          &__button,
          &__button2 {
            margin-bottom: 10px;
          }

          &__button button,
          &__button2 button {
            margin: 10px 0;
          }
        }
      }
    }

    &__contact {
      left: calc(100% - 50px);
      bottom: 100px;
    }
  }
}
