.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 630px;
  &__social {
    h3 {
      font-size: 4rem;
      font-family: SourceSans3-ExtraLightItalic;
      color: #b38a9d;
      padding: 5px;
    }
  }

  &__reach {
    display: flex;
    flex-direction: column;
    padding: 90px;
    &__email,
    &__map {
      padding: 30px;
      border: 1px solid;
      border-radius: 24px;
      border: none;
      box-shadow: none;
      color: #000;
      text-align: center;
      h3 {
        font-style: italic;
        font-weight: 600;
        font-family: SourceSans3-ExtraLightItalic;
        color: #b38a9d;
      }
    }
  }
  &__form {
    &__container {
      display: flex;
      justify-content: flex-end;

      &__sub-title {
        font-family: SourceSans3-ExtraLightItalic;
        padding: 20px;
        margin: 15px;
        font-size: 2rem;
        font-style: italic;
        color: #000;
      }
      &__text {
        width: 100%;
        max-width: 1000px;
        input {
          border-bottom: 5px solid #2a3521;
          color: rgba(0, 0, 0, 1);
          border: none;
          background-color: #fff8fc;
          outline: none;
          display: block;
          &:focus {
            border-bottom: 1px solid #2a3521;
          }
        }
        textarea {
          border-bottom: 5px solid #2a3521;
          color: rgba(0, 0, 0, 1);
          border: none;
          background-color: #fff8fc;
          outline: none;
          display: block;
          width: 100%;
          &:focus {
            border-bottom: 1px solid #2a3521;
          }
        }
        &__send {
          display: flex;
          justify-content: flex-start;
          padding: 20px;
          button {
            border: none;
            background-color: transparent;
            color: #2a3521;
            cursor: pointer;
          }
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    width: 100%;
    min-height: 700px;
  }
}
