.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  &__content {
    width: 100%;
    max-width: 1000px;

    &__nav {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 20px;

          a {
            text-decoration: none;
            letter-spacing: 2px;
            color: #899384;
          }
        }

        li:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__section {
      display: flex;
      justify-content: center;
      align-items: center;

      &__language,
      &__mode {
        display: flex;
        justify-content: flex-end;
        select {
          border: none;
          background-color: transparent;
          color: #899384;
        }
      }
    }
  }
  @media (min-width: 768px) {
    &__content {
      &__nav {
        ul {
          flex-direction: row; // Büyük ekranlarda menü yatay olacak
          justify-content: center; // Menü sağ tarafa yaslanacak

          li {
            margin-bottom: 0;
            margin-left: 20px; // Menü öğeleri arasındaki boşluk
          }
        }
      }
    }
  }
}
