.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  width: 100%;
  max-height: 200px;
  &__content {
    img {
      width: 40px;
      height: 40px;
    }

    &__copy {
      font-family: Quicksand-Light;
      font-size: large;
      color: #2a3521;
    }
  }
}
