.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  // background-color: #e3eadf;

  &__content {
    display: flex;

    img {
      width: 40px;
      height: 40px;
    }
  }
  &__copy {
    // color: #938e7d;
    font-family: Quicksand-Light;
    font-size: larger;
  }
}
