.about {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 700px;
  flex-direction: column;
  border: 1px solid transparent;

  z-index: -1;
  &__title {
    font-family: SourceSans3-ExtraLightItalic;
    font-size: 3.2rem;
    padding: 20px;
    letter-spacing: 5px;
  }
  &__content {
    &__left {
      display: flex;
      justify-content: center;
      align-items: baseline;
      &__desc {
        width: 60%;
        text-align: center;
        margin: 30px;
      }
    }
    &__right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &__section {
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 100%;
        max-width: 720px;
        &__edu {
          li {
            list-style: none;
            text-align: center;
          }
          p {
            text-align: center;
          }
          img {
            width: 35px;
          }
        }
        &__dot {
          border-left: 2px solid #ccc;
          height: 350px;
          margin-left: 20px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    width: 300px;
    &__content {
      &__left {
        display: flex;
        justify-content: center;
        align-items: baseline;
      }
      &__right {
        width: 100%;

        &__section {
          display: flex;
          flex-direction: column;

          &__dot {
            border-left: 2px solid #ccc;
            height: 100%;
          }
        }
      }
    }
  }
}
