.about {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__vertical-line {
    width: 1px;
    height: 70px;
    position: relative;
    margin: 0px 64px 78px 193px;
    background-color: #bab6b6;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    right: 16%;
    &__title {
      font-family: SourceSans3-ExtraLightItalic;
      letter-spacing: 0.1em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 75px;
      left: 13px;
      font-style: italic;
    }
  }
  &__title {
    font-family: "Courier New", Courier, monospace;
  }
}
