.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 630px;
  &__content {
    display: flex;
    justify-content: space-between;
    &__left {
      width: 70%;
      padding-bottom: 30px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;

      &__title {
        font-family: SourceSans3-ExtraLightItalic;
        font-style: italic;
        font-size: 3.2rem;
        padding: 20px;

        color: #9b8588;
      }
      &__desc {
        margin: 30px;
      }
    }
    &__right {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__section {
        display: flex;
        flex-direction: row;
        padding: 10px;
        li {
          list-style: bengali;
        }
        img {
          width: 35px;
          margin-left: 10px;
        }
        &__edu {
          padding-right: 40px;
        }
      }
    }
  }
}
